html {
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:1rem;
  font-weight:normal;
  line-height:1.5;
  color:#333;
  overflow-x:hidden;
}
/* navigation bar css */
#nav-bar{
    position:relative;
    top: 0;
    z-index: 10;
    padding-right: 10px;
    background-color: rgba(0,0,0,0.4);

}
.navbar-brand img{
  height: 40px;
  padding-left: 30px;
  transition: 0.5s;
}
.navbar-nav li{
  padding: 0 5px;
}

.navbar-nav li a{
  float: right;
  text-align: left;
  color: #FFFFFF!important;
  letter-spacing: 2px;
  display:block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}
.navbar-nav:hover li a{
  transform:scale(1.5);
  opacity: .2;
  filter: blur(2px);
}
.navbar-nav li a:hover{
  transform:scale(1.2);
  opacity: 1;
  filter: blur(0);
  font-weight: bold;
  /*font-size: 20px;*/

}
.navbar-nav li a:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0,0,0,0.5); */
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;

}
.navbar-nav li a:hover:before{
  transition: transform 0.5s;
  transform-origin:left;
  transform: scalex(1);
  border-radius:5px;
  border-bottom: 2px solid red;
}

#active{
  font-size: 25px;
  color:#00FA9A; 
}

/*header css*/
.img-header{
  height:100vh;
  display:flex;
  color:#fff;
}
.container{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  z-index: 1;
}
.img-header-section{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:50vh;
  overflow:hidden;
  background:no-repeat;
  background-size:cover; 
}
.img-header-section{
  max-height: 40%;
  max-width: 100%; 
}
.header-overlay{
  height:40vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:1;
  background-color: rgba(0,0,0,0.4);
  opacity:.5;
}
.header-content{
  top:50; 	
  position: absolute;	
  z-index:2;
}

.header-content p{
  font-size:1rem;
  display:block;
  padding-bottom:1rem;
  top:20;
}