*{
    margin: 0;
    padding: 0;
    /* transform: translate(-50% , -50%);
    background: rgba(0, 0, 0, 0.4); */


}
/*----------- overlay div------------------- */
#overlay{
  position: fixed;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

}
/*-------------- NavigationBar------------- */
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    padding-right: 10px;
    background-color: rgba(0,0,0,0.3);
}
.navbar-brand img{
  height: 40px;
  padding-left: 30px;
  transition: 0.5s;
}
.navbar-nav li{
  padding: 0 11px;
}
.navbar-nav li a{
  float: right;
  text-align: left;
  color: #FFFFFF!important;
  letter-spacing: 2px;
  display:block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;

}
.navbar-nav:hover li a{
  transform:scale(1.5);
  opacity: .2;
  filter: blur(2px);
}
.navbar-nav li a:hover{
  transform:scale(1.6);
  opacity: 1;
  filter: blur(0);
  font-weight: bold;
}
.navbar-nav li a:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;

}
.navbar-nav li a:hover:before{
  transition: transform 0.5s;
  transform-origin:left;
  transform: scaleX(1);
  border-radius: 2px 20px 2px 20px;

}

#videobg{
  position: fixed;
  /* z-index: -1; */
}
 @media (min-aspect-ratio: 16/9) {
    #videobg {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videobg {
        width:auto;
        height: 100%;
    }
}
@media (max-width: 767px) {
    #videobg {
        display: none;
    }
    body {
        background: url('videobg.jpg');
        background-size: cover;
    }
}
